* {
    box-sizing: border-box;
  }
  
  
  body{
      margin:0;
      padding: 0;
    width: 100%;
    min-width: 300px;

    background-image: url("./assets/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }


#StartingPoint{
    background-color: none !important;
    /* border: 1px solid white;
    border-radius: 5px; */
}

.navbar-brand, .navbar-nav, .navbar-toggler{
    background-color: black !important;
    border: 1px solid white;
    border-radius: 5px;
    color: white !important;
}

.nav-link, .navbar-toggler-icon{
    color: white !important;
}


#homePage{
    height: 70vh;
    width: auto;
    text-align: center;
    /* background-color: rgba(0, 0, 1, 0.5) */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/img/background.jpg");

    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

#greetingBox{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid white;
}



#aboutSection, #EducationTemp{
    width: 100%;
    border: 1px solid white;
    color: white;
    background-color: 	rgba(59, 56, 56,0.7);
    border-radius: 5px;
}

#aboutPicture{
    padding: 0;
}

#aboutDescription{
    /* min-height: 300px; */
}

#skillSection, #project{
    width: 100%;
    background-color: black !important;
    color: white;
    border: 1px solid white;
}

#skillSection{
    margin-top: 5vh;
}

@media only screen and (max-width: 767px) {
    #aboutDescription{
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
  }