* {
    box-sizing: border-box;
  }
  
  
  body{
      margin:0;
      padding: 0;
    width: 100%;
    min-width: 300px;
  }

/* 
#backgroundPage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.8;
    filter:alpha(opacity=80);
    z-index: -1;
} */

/* #navbarTop{
    width: 100vw;
    min-height: 15vh;
} */



#homePage{
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    background-image: url("./assets/img/background.jpg");
    text-align: center;
}

#rowHome{
    margin-top: 45vh;
}